<!-- <button type="button" class="btn btn-info" (click) = getAllJobs()>Get All Jobs</button> -->
<div class = 'table responsive'>
<div class = "card-body">
    <h1>{{pageTitle}}</h1>
    <input type = "text" [(ngModel)] = 'jobsByNameFilter'
            placeholder = "Enter any keyword here" id = 'input-field'>
    <div class = "row">
        <div class = "col">
        </div>
        <div class = "col">
            
        </div>
    </div>
</div>
<table class = 'table table-dark'>
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Location</th>
            <th>Company</th>
            <th>Industry</th>
            <th>Tags</th>
            <th>Apply</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let temp of jobsFilteredByName">
            <td>
                {{temp.title}}
            </td>
            <td>
                {{temp.description}}
            </td>
            <td>
                {{temp.locationName}}
            </td>
            <td>
                {{temp.companyName}}
            </td>
            <td>
                {{temp.industryName}}
            </td>
            <td>
                <ng-container *ngFor="let tag of temp.tagsList">
                    {{tag.tag}}  
                    <br /> <!-- Use br if you want to display the tags vertically -->
                </ng-container>
                </td>
            <td>
                <button type="button" class="btn btn-warning" 
                (click) = "goToAppFormPage(temp.postingId)">Apply</button>
            </td>
        </tr>
    </tbody>
</table>

</div>
