<br><br><br>

<h1 style="text-align: center;">Submit Application </h1>

<br><br>

<div class="card">
    <div class="card-body">
        <form [formGroup]="applicationgroup" (submit)='submitApplication'>
            <div class="form-group">
                <label for="fN"><b>Your First Name</b></label>
                <input type="text" class="form-control" placeholder="{{firstName}}" id="fN" formControlName="firstName"
                    readonly>
            </div>
            <div class="form-group">
                <label for="lN"><b>Your Last Name</b></label>
                <input type="text" class="form-control" placeholder="{{lastName}}" id="lN" formControlName="lastName"
                    readonly>
            </div>
            <div class="form-group">
                <label for="posting_id"><b>Posting ID</b></label>
                <input type="text" class="form-control" id="posting_id" formControlName="posting_id"
                    placeholder="{{posting_id}}" readonly>
            </div>
            <div class="form-group">
                <label for="choose_file"><b>Upload your resume</b></label><br>
                <input type="file" (change)="onChange($event)" id="choose_file">
            </div>
            <!-- <div>
                <button class="btn btn-secondary"(click)="submit()">Upload Resume</button>
            </div> -->
            <br>
            <button class="btn btn-primary" (click)="submitApplication(applicationgroup)">Submit
                Application</button>
        </form>
    </div>
</div>