<br><br>
<div class="container">
    <p id="username">@User</p>
    <hr>
    <p id="title">Blog title</p>
    <p id="content">
        Codslkfl;sdkf;lsdklf;ksd;lfk;sldfksldf;sdlfk;lsdfk;lsdfk;lsdfk;lsdkf;lsdfk;sdkf;sldf;lsdfntentasddasd
        asdadasdasdasdasda
        asdadasdasdasdasdaadssdfsfdsdfsdfsdfsdfdsfdsf
        sfdsdfsdfsdfsdf
        sfdsdfsdfsdfsdfsf
        sfdsdfsdfsdfsdf
        sfdfdsfsdfsdfsdfsd
        sfdsdfsdfsdfsdf
        asldkaslkd
        aksdjlkasjdklas
        adsjkhakjsdha
        jahdkjhaksjdas
        hakjhdsjka

    </p>
    <hr>
    <p id="date">date</p>

</div>
<br><br><br><br><br>