<br><br>
<h3 style="text-align: center;">Applications</h3>
<br><br>
<div class = 'table responsive'>
    <table class = 'table table-dark'>
        <thead>
            <tr>
                <th>Job Posting Title</th>
                <th>Company Name</th>
                <th>Application Date</th>
                <th>Application Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let temp of applications">
                <td>
                    <p>{{temp.jobPostingTitle}}</p>
                </td>
                <td>
                    <p>{{temp.companyName}}</p>
                </td>
                <td>
                    <p>{{temp.appDate | dateFormat}}</p>
                </td>
                <td>
                    <p>{{temp.applicationStatus}}</p>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
