<br>
<h1 style="text-align: center;">{{pageTitle}}</h1>
<br><br>
<div class="card" style="width: 50rem;">
    <div class="card-body">
        <form>
            <h3 style="text-align: center;">To register, please enter the necessary info below: </h3>
            <br>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="firstName">First name</label>
                    <input type="text" class="form-control" id="firstName" aria-describedby="firstNameHelp"
                        placeholder="Enter first name" required minlength="4" [(ngModel)]="newUser.firstName"
                        name="firstName" #firstName="ngModel">
                    <div [hidden]="firstName.valid || firstName.pristine" class="alert alert-danger">
                        Name is required.
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="lastName">Last name</label>
                    <input type="text" class="form-control" id="lastName" aria-describedby="lastNameHelp"
                        placeholder="Enter last name" required [(ngModel)]="newUser.lastName" name="lastName">
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                    placeholder="Enter email" required [(ngModel)]="newUser.email" name="email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                    else.</small>
            </div>
            <div class="form-group" required>
                Are you an employee or employer?<br>
                <div style="height: 5px;"></div>
                <label class="radio-inline">
                    <input type="radio" value="Candidate" required [(ngModel)]="newUser.userRole" name="userRole">
                    Employee</label>&nbsp;
                <label class=" radio-inline">
                    <input type="radio" value="Company" required [(ngModel)]="newUser.userRole" name="userRole">
                    Employer</label>
            </div>
            <div class="form-group">
                <label for="company">Which company are you affiliated with?</label>
                <input type="text" class="form-control" id="company" placeholder="Enter company" required
                    [(ngModel)]="newUser.company" name="company">
            </div>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" aria-describedby="usernameHelp" required
                    [(ngModel)]="newUser.username" name="username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Enter password" required
                    [(ngModel)]="newUser.password" name="password">
            </div>
            <button type="submit" class="btn btn-primary" (click)="signUpPost()">Submit</button>
        </form>
    </div>
</div>