<br>
<h1 style="text-align: center;">Profile</h1>
<br>
<div class="card">
    <div class="card-body">
        <button class="right btn btn-secondary" *ngIf="isUser && !isInEditMode" style="font-family:serif; width:40px;"
            (click)="editMode()">&#9998;</button>
        <button class="right btn btn-danger" *ngIf="isUser && isInEditMode"
            style="font-family:serif; width:40px; margin-left: 5px;" (click)="editMode(); cancelUpdate()">&#88;</button>
        <button class="right btn btn-success" *ngIf="isUser && isInEditMode" style="font-family:serif; width:40px;"
            (click)="updateInfo()" [disabled]="firstName == '' || lastName == '' || (company == '' && 
            userRole != 'Candidate') || email == '' || username == ''">&#10003;</button>
        <span class="span-error" [hidden]="!usernameExists && !emailExists && !userNotFound">
            <small [hidden]="!usernameExists">
                <div class="alert alert-danger">
                    {{errorMessage}}
                </div>
            </small>
            <small [hidden]="!emailExists">
                <div class="alert alert-danger">
                    {{errorMessage}}
                </div>
            </small>
            <small [hidden]="!userNotFound">
                <div class="alert alert-danger">
                    {{errorMessage}}
                </div>
            </small>
        </span>
        <br><br>
        <h1 style="text-align: center;">{{firstName}} {{lastName}}</h1>
        <br>
        <hr>
        <table *ngIf="!isInEditMode" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Company</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{username}}</td>
                    <td>{{company}}</td>
                    <td>{{email}}</td>
                    <td>{{userRole}}</td>
                </tr>
        </table>

        <form *ngIf="isInEditMode">
            <h3>Edit your info below: </h3>
            <br>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">First name</th>
                        <th scope="col">Last name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control" id="firstName" placeholder="Enter first name"
                                    [(ngModel)]="firstName" name="firstName">
                                <small>
                                    <div [hidden]="!firstName == ''" class="alert alert-danger">
                                        First name is required.
                                    </div>
                                </small>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control" id="lastName" placeholder="Enter last name"
                                    [(ngModel)]="lastName" name="lastName">
                                <small>
                                    <div [hidden]="!lastName == ''" class="alert alert-danger">
                                        Last name is required.
                                    </div>
                                </small>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th scope="col">Company</th>
                        <th scope="col">Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control" id="company" placeholder="Enter company name"
                                    [(ngModel)]="company" name="company" [disabled]="userRole == 'Candidate'">
                                <small>
                                    <div [hidden]="!company == '' || userRole == 'Candidate'"
                                        class="alert alert-danger">
                                        Company is required.
                                    </div>
                                </small>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control" id="email" placeholder="Enter email" required
                                    minlength=1 [(ngModel)]="email" name="email" ngModel pattern="[A-Za-z0-9._%-]+@[A-Za-z0-9._%-]+\\.[a-z]{2,3}">
                                <small>
                                    <div [hidden]="!email == ''" class="alert alert-danger">
                                        Email is required.
                                    </div>
                                </small>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th scope="col">Username</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control" id="username" placeholder="Enter username"
                                    [(ngModel)]="username" name="username">
                                <small>
                                    <div [hidden]="!username == ''" class="alert alert-danger">
                                        username is required.
                                    </div>
                                </small>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
        <br>
    </div>
</div>