<br><br>
<app-post></app-post>
<app-post></app-post>
<app-post></app-post>
<app-post></app-post>
<app-post></app-post>
<app-post></app-post>
<app-post></app-post>
<app-post></app-post>
<app-post></app-post>
<app-post></app-post>
<app-post></app-post>
<app-post></app-post>
<app-post></app-post>
<app-post></app-post>
<app-post></app-post>
<!-- <div class="container">
    <input type="text" [(ngModel)]="blogTitle" id="title-field" placeholder="Insert title...">
    <textarea [(ngModel)]="blogMessage" id="blog-message" cols="30" rows="10"
        placeholder="Insert your message..."></textarea>
    <hr>
    <button (click)="sendData()" id="post-btn">Post</button>
</div> -->