
.container{
    position:fixed;
	top: 76%;
	left: 85%;
    width: 450px;
	height: 425px;
	background-color: #343a40;
	border-radius: 10px;
	box-shadow: 0px 5px 20px rgba(0,0,0,0.2);
	transform: translate(-50%, -50%);
	padding: 20px 150px 0px 150px;
}

#blog-message{
    position: fixed;
    top: 80px;
    left:10px;
    background-color: #535c66;
    color: white;
    height: 280px;
    width: calc(100% - 20px);
    border-radius: 10px;
    resize: none;
    padding: 10px;
    border: none;
}

#title-field{
    position: absolute;
    top: 10px;
    left:10px;
    background-color: #535c66;
    color: white;
    width: calc(50%);
    border: none;
    border-radius: 10px;
    height: 50px;
    padding: 10px;
}

#title-field, #blog-message:focus {
    outline: none;
}
#blog-message::placeholder{
    color: lightgray;
}

#title-field::placeholder{
    color: lightgray;
}

#post-btn{
    position: fixed;
    width: 100px;
    height: 35px;
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    top: 380px;
    left: calc(100% - 110px); 
}

#post-btn:hover{
    position: fixed;
    width: 100px;
    height: 35px;
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color: #025cbd;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    top: 380px;
    left: calc(100% - 110px); 
}
/**
    Post element
*/
.container-post{
    position:absolute;
    left: 40%;
	width: calc(100% - 800px);
	height: 150px;
	background-color: white;
	border-radius: 10px;
	transform: translate(-50%, -50%);
    border: solid 1px lightgray;
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: 0px 5px 5px  rgba(0,0,0,0.2);
}

#username{
    position: relative;
    font-weight: bolder;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    margin: 0px;
    left:5px;
}
hr{
    margin: 0px;
}

#bottom{
    position: relative;
    top: 45px;
}

#title{
    text-align: center;
    margin:0px;
    font-weight: lighter;
    font-style: italic;
}
#date {
    position: fixed;
    top: calc(100% - 20px);
    margin: 0px;
    left:5px;
    font-size: 12px;
    font-style: italic;
    color: gray;
}
#content{
    overflow: auto;
    margin: 0px;
    margin-bottom: 8px;
    max-height: 65px;
    padding-left: 10px;
}

#post-blog{
    position: fixed;
    top: 93%;
    left: 85%;
    border: none;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: 25px;
    text-align: center;
    font-weight: bolder;
    background-color: #007bff;
    color: white;
    padding: 0px;
    padding-bottom: 5px;
}


#close{
    position: absolute;
    left: 90%;
    top: 10px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border:none;
    background-color: #535c66;
    color:white;
    padding:0px;
    padding-bottom: 5px;
}

#close:focus{
   outline: none;
}

#close:hover{
    background-color: rgb(70, 77, 87);
}

#post-blog:focus{
    outline: none;
 }

 #post-blog:hover{
    background-color: #0155af;
 }