<router-outlet></router-outlet>

<br><br><br><br>

<div class="container">
    <div class="row gx-10">
        <div class="card" style="width: 110%;">
            <div class="card-body">
                <div class="col-sm">
                    <div style="clear: both">
                        <h1 style="text-align: center;" *ngIf="firstName">Hi {{firstName}},</h1>
                        <h1 style="color: red; text-align: center;" id="title">Welcome to BurntOut!</h1>
                    </div>
                    <br>
                    <br>
                    <div class="container">
                        <div class="row gx-10">
                            <div class="col-lg">
                                <p style = "font-size: 20px">We are BurntOut, and our job portal is here for you! Are you looking for a job? We can open a portal to a new dimension - your Next Dream Job! Are you a recruiter? We help connecting you to the best candidates so that you could fill the open positions as soon as possible, and get the best talent working for your company.
                                    Just register - it is easy! Unlock a huge pool of job postings (many of them are not even on LinkedIn yet!). Join our growing community: apply for jobs, look for candidates, read blog posts, post your own updates, and more!</p>
                            </div>
                            <div class="col-4">
                                <img src="assets/fire-logo.png" width="150%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-4">
        </div>
    </div>
</div>