<router-outlet></router-outlet>

<br><br><br><br>

<div class="container">
    <div class="row gx-10">

        <div class="col-sm">
            <div style="clear: both">
            <h1 style="text-align: center;" *ngIf="firstName">Hi {{firstName}},</h1>
            <h1 style="color: red; text-align: center;">Welcome to BurntOut!</h1>
            </div>
            <br>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Quisque luctus arcu purus, a congue risus pellentesque a. Duis
                accumsan sem libero, eget dictum eros sodales a. Aenean diam magna.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Suspendisse vulputate non nunc gravida ornare. Integer pharetra
                enim non sapien varius, sit amet posuere libero ultrices. Praesent
                nec dui lacus. Nam eleifend convallis nisi eget venenatis. Etiam
                mattis lobortis dui sed sodales. Integer condimentum erat ac leo
                eleifend ultricies. Vestibulum at tellus interdum, fermentum quam
                nec, mollis ex. Integer quis quam in sem tristique ultrices maximus
                vel neque. Fusce dapibus semper urna a laoreet. Curabitur odio
                nulla, sollicitudin ac tortor non, tempus eleifend ipsum. In ac
                accumsan lorem, vulputate commodo nunc. Donec posuere leo in felis
                eleifend ornare. Phasellus commodo scelerisque tristique. Integer
                porttitor, orci sed fermentum efficitur, massa lorem faucibus
                tortor, id euismod leo est eu tellus.</p>
        </div>
        <div class="col-1"></div>
        <div class="col-4">
            <img src="assets/fire-logo.png" width="150%">
        </div>
    </div>
</div>